BOT_TOKEN=
ADMIN_IDS=
CHANNEL_ID=
CHANNEL_URL=
CARD_NUMBER=
SUPPORT_USERNAME=
COOPERATION_USERNAME=
TICKET_PRICE=300
TOTAL_TICKETS=70
REFERRALS_FOR_FREE_TICKET=10
RESERVATION_MINUTES=30
PORT=8080
DATABASE_PATH=/app/data/bot.db
LOG_LEVEL=INFO
